﻿<?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" id="svgcontainer" height="400" width="680">
  <line x1="80" y1="240" x2="80" y2="20" style="stroke: rgb(0, 0, 0); stroke-width: 5px;" />
  <line x1="80" y1="240" x2="620" y2="240" style="stroke: rgb(0, 0, 0); stroke-width: 5px;" />
  <text dx="35" dy="240">0</text>
  <text dx="35" dy="218">4</text>
  <text dx="35" dy="196">8</text>
  <text dx="35" dy="174">12</text>
  <text dx="35" dy="152">16</text>
  <text dx="35" dy="130">20</text>
  <text dx="35" dy="108">24</text>
  <text dx="35" dy="86">28</text>
  <text dx="35" dy="64">32</text>
  <text dx="35" dy="42">36</text>
  <text dx="35" dy="20">40</text>
  <text dx="205" dy="260">2010</text>
  <text dx="455" dy="260">2014</text>
  <rect x="237" y="18" width="40" height="220" id="0" value="40" fill="black" />
  <rect x="189" y="18" width="40" height="220" id="2" value="40" fill="red" />
  <rect x="141" y="128" width="40" height="110" id="4" value="20" fill="blue" />
  <rect x="487" y="45.5" width="40" height="192.5" id="1" value="35" fill="black" />
  <rect x="439" y="45.5" width="40" height="192.5" id="3" value="35" fill="red" />
  <rect x="391" y="73" width="40" height="165" id="5" value="30" fill="blue" />
  <rect width="10" height="10" fill="black" x="600" y="0" />
  <text dx="615" dy="15">ÖVP</text>
  <rect width="10" height="10" fill="red" x="600" y="15" />
  <text dx="615" dy="30">SPÖ</text>
  <rect width="10" height="10" fill="blue" x="600" y="30" />
  <text dx="615" dy="45">FPÖ</text>
  <paths xmlns="">
    <path value="">
      <x value="2010">
        <Partei value="ÖVP">
          <graphic value="0" />
        </Partei>
        <Partei value="SPÖ">
          <graphic value="2" />
        </Partei>
        <Partei value="FPÖ">
          <graphic value="4" />
        </Partei>
      </x>
      <x value="2014">
        <Partei value="ÖVP">
          <graphic value="1" />
        </Partei>
        <Partei value="SPÖ">
          <graphic value="3" />
        </Partei>
        <Partei value="FPÖ">
          <graphic value="5" />
        </Partei>
      </x>
    </path>
  </paths>
</svg>